.detail {
    &__artwork {
        padding: 30px 0 10px;
        width: 170px;
        height: 170px;
    }
    span {
        margin-top: 20px;
        font-size: 18px;
        font-weight: 500;
    }
    &__copyright {
        position: absolute;
        bottom: 3%;
        padding: 0 15px;
    }
}