.artist-list {
    height: 100vh;
    &__search {
        font-size: 17px;
        border: none;
        outline: none;
        padding: 10px;
        margin: 15px 0;
        border-bottom: 0.1px solid #ccc;
        width: 80%;
    }
}