.navbar {
    padding: 20px 0;
    min-height: 15px;
    position: relative;
    box-shadow: 0px 8px 20px 1px #5157822f;
    &__title {
        font-size: 17px;
        max-width: 60vw;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__back-icon {
        position: absolute;
        left: 3%;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        &:hover {
            opacity: 0.4;
        }
    }
}