.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 120;
    $offset: 187;
    $duration: 1.4s;
    &__spinner {
        animation: rotator $duration linear infinite;
        &__path {
            stroke-dasharray: $offset;
            stroke-dashoffset: 0;
            transform-origin: center;
            stroke: #515782;
            animation: dash $duration ease-in-out infinite;
        }
    }
    @keyframes rotator {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(270deg);
        }
    }
    @keyframes dash {
        0% {
            stroke-dashoffset: $offset;
        }
        50% {
            stroke-dashoffset: $offset/4;
            transform: rotate(135deg);
        }
        100% {
            stroke-dashoffset: $offset;
            transform: rotate(450deg);
        }
    }
}