.menu-item {
    padding: 10px 15px;
    margin-top: 15px;
    box-shadow: 5px 7px 15px 0px #5157822f;
    width: 80%;
    position: relative;
    border-radius: 5px;
    min-height: 50px;
    cursor: pointer;
    &__text {
        margin-left: 20px;
        height: 100%;
    }
    &__title {
        font-weight: 100;
        max-width: 47vw;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__subtitle {
        opacity: 0.4;
    }
    &__artwork {
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
    &__icon {
        position: absolute;
        right: 20px;
    }
}