.menu-list {
    &__wrapper {
        height: 100%;
        overflow-y: scroll;
        padding: 30px 0;
    }
    &__placeholder {
        position: absolute;
        top: 40%;
        svg {
            opacity: 0.1;
        }
    }
}