.home {
    height: 100vh;
    &__select {
        position: absolute;
        right: 3%;
        font-size: 17px;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        &:hover {
            opacity: 0.4;
        }
    }
}